In [1]:
import pandas as pd
import csv
import sklearn
import sklearn.linear_model
import sklearn.tree
import matplotlib.pyplot as plt
irs=pd.read_csv("C:\\Users\\4shub\\Desktop\\summertrainning\\Iris.csv",error_bad_lines=False)

In [2]:
irs["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
irs=irs.drop(["Id"],axis=1)

In [4]:
y=irs["Species"]
irs=irs.drop(["Species"],axis=1)

In [5]:
x=irs

In [6]:
reg=sklearn.linear_model.LinearRegression()
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(x,y,test_size=0.2)

In [7]:
x_train.shape

(120, 4)

In [8]:
y_train.shape

(120,)

In [9]:
clf_gini=sklearn.tree.DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=3,min_samples_leaf=5)

In [10]:
clf_gini.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [11]:
clf_gini.score(x_train,y_train)

0.9666666666666667

In [12]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [13]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [14]:
sklearn.tree.export_graphviz(clf_gini,out_file='tree.dot')